# Dipendenze
node_modules/

# Build / Output
dist/
build/

# Uploads e DB di Strapi
public/uploads/*
!public/uploads/.gitkeep

# Strapi locale
database.db
.tmp/
.strapi-updater.json

# Ambiente
.env

# Log
*.log
npm-debug.log*
yarn-debug.log*

# File macOS
*.DS_Store

